@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: clamp(1rem, 1.2vw, 1.25rem);
}

body {
    background-color: hsl(0, 0%, 90%);
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100vh;
    padding: 4rem 15%;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
}

.hero h1 {
    color: hsl(214, 89%, 52%);
    font-size: clamp(3rem, 3.6vw, 4rem);
}

.hero p {
    font-size: 1.5rem;
    font-weight: 500;
}

.wrapper form {
    background-color: hsl(0, 0%, 100%);
    align-items: center;
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 6px 10px hsla(0, 0%, 0%, 0.2);
}

form input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 0.25rem;
}

form button {
    width: 100%;
    cursor: pointer;
    font-weight: 600;
    background-color: hsl(214, 89%, 52%);
    border: none;
    border-radius: 0.25rem;
    color: white;
    padding: 0.75rem;
}

form button:hover {
    background-color: hsl(214, 89%, 32%);
}

form a {
    width: 100%; 
    font-size: 0.9rem;
    padding: 0.75rem;
    border-bottom: 2px solid hsl(0, 0%, 90%);
    cursor: pointer;
    text-align: center;
    color: hsl(214, 89%, 52%);
    font-weight: 500;
}

form .secondary-button {
    background-color: hsl(109, 63%, 44%);
    margin: 0.75rem;
    width: fit-content;
}

form .secondary-button:hover {
    background-color: hsl(109, 63%, 34%);
}

.text {
    margin-top: 1.5rem;
    text-align: center;
}

footer {
    padding: 2rem 15%;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
}

.top-footer, .bottom-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; 
    padding: 0.75rem 0;
    border-bottom: 2px solid hsl(0, 0%, 90%)
}

.bottom-footer {
    border: none;
}

footer a, footer p {
    color: hsl(0, 0%, 50%);
    font-size: 0.75rem;
}

@media (max-width: 1024px) {
    .wrapper {
        flex-direction: column;
    }

    .hero {
        text-align: center;
    }
}