@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100dvh;
}

main {
min-height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 5%;
}

.hero h1 {
  font-size: clamp(2rem, 3vw, 2.5rem);
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  font-size: clamp(2rem, 3vw, 2.5rem);
  color: transparent;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  background-clip: text;
}

form {
    flex: 2;
  width: 100%;
  height: 100%;
  border-left: 2px solid hsl(187, 5%, 80%);
  padding: 1rem 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

form h3,
input,
button {
  width: 100%;
}

form h3 {
  font-size: clamp(1.25rem, 1.4vw, 1.5rem);
}

form button {
  cursor: pointer;
  border: none;
  border-radius: 999px;
  padding: 0.75rem 1rem;
  background-color: transparent;
}

.first-button {
  background-color: hsl(213, 80%, 50%);
  color: white;
}

.first-button:hover {
  background-color: hsl(213, 80%, 30%);
}

.second-button {
  border: 2px solid hsl(0, 0%, 80%);
}

.second-button:hover {
  background-color: hsl(187, 5%, 80%);
}

.third-button {
  border: 2px solid hsl(213, 80%, 50%);
  color: hsl(213, 80%, 50%);
}

.third-button:hover {
  background-color: hsl(213, 80%, 50%);
  color: white;
}

input {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0.75rem;
  padding: 0.75rem;
}

form a {
  cursor: pointer;
  color: hsl(213, 80%, 50%);
  font-weight: 500;
}

#icon {
  width: 4rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
}

#main-img {
  width: 35rem;
}

footer {
  border-top: 2px solid hsl(187, 5%, 80%);
  padding: 1rem 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

footer a,
footer p {
  color: hsl(0, 0%, 50%);
  cursor: pointer;
  font-size: 0.75rem;
}

@media (max-width: 1024px) {
  main {
    flex-direction: column;
  }
  form {
    height: fit-content;
    flex: 0;
  }

  .hero {
    display: none;
  }

  #icon {
    position: static;
  }
}
