@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  min-height: 100dvh;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  padding: 1.5rem;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0.75rem;
}

nav ul li a {
  color: black;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

nav ul li a i {
  font-size: 1.5rem;
}

nav ul li a:hover {
  color: gray;
}

header div {
  display: flex;
  gap: 1rem;
}

header button {
  display: flex;
  align-items: center;
  gap: 6rem;
  color: hsl(0, 0%, 40%);
  padding: 0.25rem 0.5rem;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0.25rem;
  background-color: transparent;
}

.buttn {
  font-size: 0.75rem;
  display: inline-block;
  width: 1.5rem;
  align-content: center;
  height: 1.5rem;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0.25rem;
}

#icon,
#menu-icon {
  font-size: 2.5rem;
}

main {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero {
  padding: 5rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

h1 {
  font-weight: 900;
  font-size: clamp(3rem, 4vw, 4rem);
}

p {
  color: gray;
}

.primary-button {
  cursor: pointer;
  border: none;
  color: white;
  font-weight: 500;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  background: linear-gradient(to top, hsl(0, 0%, 10%), hsl(0, 0%, 30%));
}

.secondary-button {
  cursor: pointer;
  color: black;
  font-weight: 500;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  border: 2px solid hsl(0, 0%, 80%);
  background-color: transparent;
}

#cards {
  width: 100%;
  display: grid;
  padding: 5rem 0;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 3rem;
}

.card {
  position: relative;
  text-align: center;
  gap: 0.75rem;
  border: 2px solid hsl(0, 0%, 80%);
  border-radius: 1rem;
  box-shadow: 0px 6px 20px hsla(0, 0%, 0%, 0.2);
  background-color: hsl(0, 0%, 95%);
}

.card .first-card-section {
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1.5rem 1rem;
}

.buttons {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.card button {
  width: 100%;
}

h3 {
  font-weight: 700;
  font-size: 1.75rem;
}

.card .base-text {
  font-size: 3rem;
}

.card .some-text {
  color: hsl(0, 0%, 40%);
}

.card .secondary-text {
  font-size: 2rem;
}

.card .secondary-card-section {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  padding: 1.5rem 2rem;
  list-style-type: "> ";
}

.card ul li {
  font-weight: 500;
  color: hsl(0, 0%, 30%);
}

.card h4 {
  text-align: left;
  color: hsl(229, 100%, 58%);
}

.card p {
  color: hsl(0, 0%, 40%);
}

.starting-at {
  color: hsl(0, 0%, 40%);
  padding: 0.25rem 1rem;
  border-radius: 999px;
  border: 1px solid hsl(0, 0%, 40%);
}

.recommended::after {
  z-index: -1;
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background-color: hsl(240, 82%, 60%);
  border-radius: 1.5rem;
  translate: -50% -50%;
  padding: 32px 8px;
}

.rec-text {
  position: absolute;
  top: -1.6rem;
  right: 0;
  left: 0;
  color: white;
  font-weight: 500;
}

#addons {
  padding: 5rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.blocks {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.block {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 2px solid hsl(0, 0%, 80%);
  box-shadow: 0px 6px 10px hsla(0, 0%, 0%, 0.2);
}

.block .block-icon {
  width: fit-content;
  border-radius: 999px;
  padding: 8px;
  font-size: 1.75rem;
  background-color: hsl(from var(--accent-color) h s l / 0.2);
  color: var(--accent-color);
}

.block .detail-button {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

@media (max-width: 1024px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
